In [23]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import math
import pandasql as ps
import time
import string
import random
from faker import Faker

from lib.masking_functions import mask, bucketize_age, blur_zip, generalize_diagnosis, add_relative_noise, blur_phone

In [24]:
def plot_probabilities(dist):
    dist_copy = dist.copy().sort_index()
    # labels = dist.index.to_series().apply(lambda x: '{0}-{1}'.format(*x))
    # labels = dist.index

    fig = plt.figure()
    ax = fig.add_axes([0,0,1,1])
    ax.bar(range(len(dist_copy.values)),dist_copy.values)
    plt.show()

## Data Generation

In [25]:
fake = Faker('de_DE')

from faker.providers import BaseProvider

# create new provider class for diagnosis following the ICD_10_GM medical code
class ICD_10_GM_Provider(BaseProvider):
    def diagnosis(self) -> str:
        letter = random.choice(string.ascii_uppercase.replace("U", "").replace("W", "").replace("X", ""))
        number = np.trunc(np.random.uniform(0.0, 99.9)*10)/(10)
        if number < 10:
            return letter+"0"+str(number)
        else:
            return letter+str(number)
        
fake.add_provider(ICD_10_GM_Provider)

In [32]:
nRows = 50

pid = np.arange(1,nRows+1)
age = np.random.normal(60, 20, nRows).astype(int)

# Remove patients with age lower than 18 or higher than 100
invalid = age[np.logical_or(age < 18, age > 100)].size
while invalid > 0:
    age[np.logical_or(age < 18, age > 100)] = np.random.normal(75, 10, invalid).astype(int)
    invalid = age[np.logical_or(age < 18, age > 100)].size

diagnosis = np.asarray([fake.diagnosis() for i in range(nRows)])
address = np.asarray([fake.street_address() for i in range(nRows)])
zip_code = np.asarray([fake.postcode() for i in range(nRows)])
city = np.asarray([fake.city_name() for i in range(nRows)])
phone_number = np.asarray([fake.unique.phone_number() for i in range(nRows)])

In [33]:
name = []
gender = []
weight = np.empty(nRows).astype(int)
height = np.empty(nRows).astype(int)

for i in range(nRows):
    rand = np.random.rand()
    if rand < 0.48:
        name.append(fake.unique.name_male())
        gender.append("Male")
        height[i] = int(np.random.normal(180, 7.5))
        weight[i] = int(np.random.normal(80, 10))
    elif rand < 0.98:
        name.append(fake.unique.name_female())
        gender.append("Female")
        height[i] = int(np.random.normal(167, 5))
        weight[i] = int(np.random.normal(60, 7.5))
    else:
        name.append(fake.unique.name_nonbinary())
        gender.append("Non-Binary")
        height[i] = int(np.random.normal(175, 6))
        weight[i] = int(np.random.normal(70, 10))
        
name = np.asarray(name)
gender = np.asarray(gender)

### Single Dataset

In [34]:
data = {'id': pid,
    'name': name, 
    'gender': gender,
    'age': age,
    'height': height,
    'weight': weight,
    'diagnosis': diagnosis,
    'address': address,
    'zip': zip_code,
    'phone': phone_number
}
data

{'id': array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
         27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
         40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
         53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
         66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
         79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
         92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
        105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
        118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
        131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
        144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
        157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
        170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
        183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
        196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
        209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
        222, 223, 224, 225]),
 'name': array(['Karl-Dieter Drubin-Barkholz', 'Hans-Wolfgang Drewes',
        'Sigfried Otto', 'Hermine Köster MBA.', 'Inken Misicher',
        'Mohammed Geisler B.Eng.', 'Mike Wieloch', 'Dr. Loni Karz',
        'Ester Heidrich-Cichorius', 'Dipl.-Ing. Hans-Josef Eigenwillig',
        'Hans-Dietrich Hesse', 'Ing. Nikolai Thanel B.Eng.',
        'Wera Gierschner', 'Ignaz Löffler', 'Dr. Babette Juncken',
        'Mary Schüler', 'Jeannette Klotz', 'Timo Römer',
        'Catherine Keudel', 'Dipl.-Ing. Marleen Martin',
        'Univ.Prof. Hartmut Gröttner B.Sc.',
        'Univ.Prof. Insa Berger B.Sc.', 'Angelina Berger-Junitz',
        'Univ.Prof. Metin Kabus', 'Sami Ring', 'Maike Pruschke B.A.',
        'Priska Beckmann', 'Hermine Lindau', 'Ingbert Otto',
        'Attila Stroh B.Eng.', 'Ingbert Patberg',
        'Ing. Karl-Ludwig Kruschwitz', 'Dariusz Köster',
        'Leonie Dietz B.Sc.', 'Dipl.-Ing. Mohammad Pruschke',
        'Dr. Reinhold Schmiedecke B.Eng.', 'Univ.Prof. James Schottin',
        'Hans-Josef Kreusel B.Sc.', 'Urban Barkholz',
        'Fredy Wagner-Sölzer', 'Dogan Etzold', 'Bernward Biggen',
        'Karl-Heinrich Geisel', 'Gislinde Kruschwitz MBA.',
        'Hartwig Lachmann', 'Dr. Michael Rörricht MBA.',
        'Gisela Junck-Heintze', 'Ing. Melissa Hertrampf',
        'Frau Gesche Lehmann B.Eng.', 'Ing. Adelinde Hauffer MBA.',
        'Lene Naser', 'Patric Holsten', 'Sigmund Ullrich',
        'Zeynep Krein-Losekann', 'Aldo Johann', 'Ricarda Gröttner',
        'Florentine Rust', 'Jenny Heuser', 'Ingelore Klemm',
        'Hans Dieter Seidel', 'Daniele Pohl', 'Ing. Lena Drewes B.Sc.',
        'Marita Wende B.Eng.', 'Cornelius Klapp', 'Jörg-Peter Junitz',
        'Manja Ritter', 'Burghard Baum', 'Berthold Etzler', 'Reinald Metz',
        'Edelgard Weinhold', 'Freddy Henck', 'Christoph Eckbauer',
        'Willibald Krause', 'Angelika Hande', 'Silvana Ruppersberger',
        'Heino Schönland-Lorch', 'Galina Mosemann-Junken', 'Kirstin Wilms',
        'Dr. Axel Radisch', 'Hans-Rainer Schottin-Mülichen',
        'Gerard Scholz', 'Prof. Charlotte Misicher B.A.',
        'Prof. Sonja Beckmann MBA.', 'Ing. Ioannis Schuster',
        'Falk Patberg', 'Eckhard Bauer', 'Leonie Schleich-Henck',
        'Univ.Prof. Bettina Warmer MBA.', 'Wolf Eberhardt',
        'Gotthilf Mälzer-Lübs', 'Arnulf Schmiedecke',
        'Betty Säuberlich-Schäfer', 'Klemens Mentzel',
        'Matthäus Lachmann-Mitschke', 'Hugo Lange-Cichorius',
        'Heinz-Willi Berger', 'Gislinde Sontag',
        'Prof. Ilse Beckmann B.Eng.', 'Frau Gislinde Pölitz MBA.',
        'Ulf Barkholz B.Eng.', 'Ing. Wiltrud Weller', 'Clara Warmer-Gnatz',
        'Kevin Roskoth', 'Valerij Butte', 'Marcella Matthäi',
        'Elisabet Karz', 'Gesine Junck', 'Raisa Kranz',
        'Philomena Zimmer MBA.', 'Univ.Prof. Dietmar Trubin',
        'Curt Bolnbach-Käster', 'Sigurd Gröttner-Täsche',
        'Frau Trude Aumann', 'Gilda Rosemann', 'Hanny Preiß MBA.',
        'Isa Kusch', 'Wanda Weller', 'Univ.Prof. Pedro Kade',
        'Edeltraud Klotz', 'Marjan Eberth B.A.', 'Antonios Pieper',
        'Hans-Peter Schleich', 'Arnim Löffler',
        'Dipl.-Ing. Ryszard Mentzel MBA.', 'Raymond Eberth',
        'Gerold Wulf-Conradi', 'Dipl.-Ing. Sylvester Vogt B.Eng.',
        'Rudolf Staude-Lübs', 'Herr Ronald Trub B.A.', 'Nikola Ebert',
        'Delia Kroker-Kostolzin', 'Fritz Adler', 'Ian Seifert',
        'Annekatrin Buchholz', 'Irmtraud Finke', 'Philipp Neuschäfer',
        'Mina Drubin', 'Kai-Uwe Sauer', 'Steffi Lange-Kroker',
        'Trudi Weiß B.A.', 'Annelie Pohl-Ortmann', 'Paola Gieß',
        'Berthold Krause-Neuschäfer', 'Lilly Kühnert', 'Eugenie Pohl',
        'Kemal Weller', 'Günther Döhn', 'Sigrid Schleich',
        'Miriam Harloff B.A.', 'Daniela Cichorius MBA.',
        'Frau Pauline Ziegert B.Eng.', 'Dipl.-Ing. Manfred Hahn B.Eng.',
        'Lia Gorlitz', 'Simon Scheibe', 'Cäcilie Ebert',
        'Nicole Köster-Löffler', 'Erhard Schwital B.Sc.',
        'Univ.Prof. Renato Haering', 'Elfi Hiller', 'Denise Conradi',
        'Marek Schlosser', 'Luzie Rosenow', 'Josephine Bohlander',
        'Prof. Kamil Reuter MBA.', 'Reingard Drub', 'Herr Miodrag Roht',
        'Dipl.-Ing. Nuri Scholz', 'Andreas Bärer', 'Leyla Kostolzin B.Sc.',
        'Jaroslav Kuhl', 'Dipl.-Ing. Heinz-Otto Winkler',
        'Marleen Tschentscher', 'Horst Hahn', 'Kati Flantz', 'Sigmar Graf',
        'Alexej Fischer', 'Dr. Verena Gnatz B.Eng.',
        'Brigitta Heuser-Weimer', 'Hansjörg Bender',
        'Emilia Trubin-Rosemann', 'Dusan Striebitz',
        'Patricia Pechel B.Eng.', 'Frau Britta Jäkel',
        'Hans-Christian Schuster-Gnatz', 'Klothilde Budig B.Sc.',
        'Krzysztof Kraushaar', 'Dogan Zänker MBA.', 'George Staude-Sölzer',
        'Rabea Wilms-Bolzmann', 'Lene Löffler', 'Herr Urs Mies MBA.',
        'Roy Herrmann-auch Schlauchin', 'Fadime Stey-Trüb',
        'Jasmin Stolze', 'Dusan Gute', 'Dr. Ulf Scheel', 'Irmi Rädel',
        'Prof. Radmila Bolnbach B.A.', 'Ing. Paul-Heinz Stolze MBA.',
        'Ellen Eckbauer-Mülichen', 'Annika Girschner-Holsten',
        'Paul-Heinz Scheel', 'Prof. Wendelin Scholtz B.A.',
        'Swantje Süßebier', 'Deborah Kraushaar', 'Claudia Bolnbach',
        'Hanne-Lore Scheel-Hesse', 'Edeltrud Ehlert', 'Uli Spieß',
        'Brigitta Fischer', 'Ing. Aline Löchel', 'Adelbert Schmiedecke',
        'Milka Dörr', 'Niklas Weinhold B.Eng.', 'Prof. Jobst Krebs',
        'Armin Ullmann', 'Univ.Prof. Giorgio Heintze',
        'Ing. Sören Rörricht B.Eng.', 'Iwona Radisch', 'Clemens Peukert',
        'Marit Hentschel B.Sc.', 'Alwine Kramer-Lindau', 'Kuno Scheel',
        'Paulina Lehmann B.Eng.', 'Artur Täsche'], dtype='<U33'),
 'gender': array(['Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male',
        'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male',
        'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male',
        'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female',
        'Non-Binary', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male',
        'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
        'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female',
        'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female',
        'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male',
        'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male',
        'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male',
        'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male',
        'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male',
        'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male',
        'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female',
        'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female',
        'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male',
        'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
        'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male',
        'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male',
        'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female',
        'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male',
        'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male',
        'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male',
        'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female',
        'Non-Binary', 'Female', 'Male', 'Female', 'Female', 'Male',
        'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male',
        'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female',
        'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female',
        'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male',
        'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male',
        'Female', 'Female', 'Male', 'Female', 'Male'], dtype='<U10'),
 'age': array([ 50,  75,  40,  56,  47,  69,  71,  58,  63,  60,  59,  60,  37,
         75,  80,  61,  43,  63,  59,  41,  39,  31,  61,  50,  65,  53,
         96,  79,  96,  60,  66,  74,  77,  37,  57,  38,  67,  53,  39,
         22,  77,  69,  42,  35,  57,  35,  76,  40,  74,  68,  76,  83,
         57,  85,  59,  63,  22,  41,  81,  50,  53,  79,  77,  67,  60,
         65,  39,  63,  72,  51,  61,  57,  54,  59,  92,  22,  47,  60,
         62,  69,  64,  84,  82,  71,  23,  76,  47,  34,  40,  91,  37,
         53,  79,  63,  64,  62,  54,  50,  56,  79,  34,  70,  70, 100,
         55,  71,  36,  69,  37,  58,  64,  83,  46,  21,  54,  42,  57,
         99,  76,  70,  66,  66,  77,  83,  55,  61,  78,  61,  60,  44,
         48,  53,  70,  87,  58,  77,  44,  62,  58,  91,  60,  63,  64,
         79,  22,  83,  62,  68,  76,  25,  61,  70,  44,  96,  86,  85,
         52,  50,  59,  73,  82,  46,  53,  44,  29,  44,  80,  95,  87,
         79,  49,  70,  56,  38,  33,  57,  82,  66,  47,  58,  73,  58,
         92,  60,  55,  76,  40,  72,  86,  38,  78,  72,  85,  39,  92,
         69,  73,  76,  61,  63,  46,  68,  48,  54,  45,  46,  70,  77,
         73,  61,  62,  81,  40,  58,  80,  69,  85,  48,  71,  67,  63,
         48,  46,  63,  59]),
 'height': array([188, 186, 194, 171, 165, 184, 197, 164, 166, 166, 169, 164, 163,
        173, 176, 164, 172, 182, 155, 173, 172, 170, 171, 175, 181, 165,
        162, 164, 175, 185, 165, 165, 172, 169, 174, 172, 189, 166, 188,
        198, 183, 175, 175, 163, 197, 176, 169, 171, 166, 165, 169, 171,
        183, 164, 177, 164, 164, 167, 168, 175, 166, 165, 165, 181, 180,
        163, 172, 186, 180, 175, 181, 179, 181, 168, 161, 180, 165, 156,
        198, 172, 166, 162, 165, 180, 182, 180, 164, 171, 174, 172, 185,
        160, 173, 192, 179, 177, 170, 165, 157, 188, 166, 161, 175, 185,
        164, 168, 158, 166, 165, 168, 180, 183, 165, 162, 164, 168, 172,
        174, 162, 168, 198, 184, 181, 189, 173, 184, 186, 177, 171, 181,
        170, 184, 181, 164, 166, 185, 171, 177, 173, 167, 163, 167, 184,
        167, 165, 169, 170, 176, 161, 171, 164, 178, 173, 175, 171, 162,
        196, 176, 171, 173, 181, 162, 158, 168, 172, 175, 159, 176, 166,
        182, 176, 164, 163, 160, 181, 183, 175, 162, 178, 167, 188, 167,
        170, 180, 166, 168, 172, 175, 164, 160, 184, 171, 164, 166, 155,
        175, 158, 166, 193, 167, 176, 174, 158, 168, 163, 162, 171, 164,
        200, 167, 163, 177, 174, 183, 171, 170, 191, 179, 158, 178, 173,
        164, 198, 174, 184]),
 'weight': array([ 70,  60,  68,  57,  65,  70,  82,  68,  67,  82,  81,  76,  66,
         75,  60,  60,  67,  93,  52,  73,  85,  52,  50,  83,  76,  68,
         61,  71,  53,  66,  74,  79, 104,  74,  70,  85,  80,  85,  78,
         92,  73,  83,  83,  61,  82,  88,  57,  61,  63,  50,  67,  70,
         91,  55,  94,  65,  68,  65,  56,  88,  79,  63,  69,  71,  93,
         53,  88,  81,  88,  62,  65,  83,  85,  58,  62,  88,  63,  63,
         71,  91,  82,  57,  65,  69,  92,  80,  62,  50,  66,  80,  80,
         54, 101,  78,  87,  84,  53,  76,  71, 104,  64,  72,  82,  79,
         66,  47,  60,  67,  67,  77,  64,  80,  64,  53,  61,  46,  69,
         92,  59,  47,  67,  78,  89,  96,  67,  82,  88,  73,  69,  78,
         52,  61,  94,  61,  61,  86,  74,  84,  66,  53,  49,  42,  65,
         67,  58,  78,  77,  47,  48,  59,  50,  73,  61,  70,  62,  54,
         85,  62,  48,  53,  75,  60,  82,  88,  53,  72,  80,  71,  59,
         72,  77,  74,  83,  66,  89,  89,  62,  68,  70,  58,  82,  57,
         62,  80,  67,  70,  82, 101,  64,  59,  77,  96,  57,  57,  94,
         84,  63,  58,  87,  70,  49,  78,  60,  58,  65,  66,  63,  53,
         77,  57,  60,  73,  44,  65,  81,  76,  58,  82,  58,  68,  64,
         48,  76,  62,  86]),
 'diagnosis': array(['T04.4', 'L70.5', 'A83.6', 'F90.9', 'P29.7', 'J10.5', 'R38.6',
        'F42.7', 'Z65.7', 'S08.4', 'C76.0', 'A81.3', 'D85.8', 'F63.1',
        'T03.7', 'I99.7', 'I39.6', 'F95.7', 'M98.4', 'G16.7', 'N21.8',
        'K88.5', 'J77.1', 'R14.6', 'J24.3', 'V98.7', 'R33.5', 'O42.9',
        'P41.9', 'B16.9', 'O51.6', 'C90.0', 'I88.8', 'E29.8', 'V30.9',
        'V12.5', 'V07.2', 'Q09.4', 'R86.8', 'P45.6', 'I01.6', 'F32.9',
        'O23.0', 'P71.9', 'S17.4', 'D86.2', 'C01.0', 'J75.2', 'I21.3',
        'C95.3', 'L17.7', 'H14.7', 'N89.7', 'J30.7', 'E57.8', 'C67.6',
        'Y10.5', 'L68.2', 'Q52.7', 'I47.3', 'T09.0', 'P67.1', 'Q69.5',
        'A50.4', 'N93.2', 'C76.4', 'I80.4', 'V37.8', 'N36.4', 'H48.3',
        'R46.3', 'B26.7', 'H18.8', 'K98.5', 'N85.6', 'R37.4', 'Y01.8',
        'K99.8', 'A74.0', 'E97.4', 'T82.3', 'Z75.5', 'C63.8', 'G93.3',
        'Y03.0', 'C75.3', 'Y40.5', 'Q51.2', 'O83.0', 'R26.4', 'B76.8',
        'F45.8', 'N57.9', 'K42.1', 'V65.8', 'G43.8', 'S64.2', 'Z34.6',
        'B71.7', 'B91.4', 'P97.4', 'D18.4', 'D48.9', 'I82.9', 'D46.5',
        'J37.9', 'Y10.3', 'B31.6', 'H15.8', 'F09.2', 'B20.0', 'B32.3',
        'Q99.6', 'J55.0', 'B36.2', 'Z68.5', 'D90.8', 'J10.5', 'M95.8',
        'K96.8', 'J20.8', 'N05.9', 'P23.5', 'F23.5', 'D13.2', 'C59.4',
        'C37.2', 'V53.7', 'E21.7', 'S96.4', 'Q55.7', 'L37.5', 'L24.5',
        'I40.4', 'T46.5', 'V35.2', 'H13.3', 'B52.9', 'Z20.1', 'E71.5',
        'I36.8', 'S54.3', 'L52.5', 'J71.5', 'Q78.8', 'C10.0', 'M25.1',
        'J25.6', 'L67.6', 'C05.4', 'N84.1', 'M16.1', 'M07.3', 'G49.1',
        'G29.0', 'T54.1', 'D60.8', 'E00.2', 'S48.1', 'I67.2', 'S57.8',
        'C16.8', 'N84.2', 'K83.1', 'F20.1', 'Q19.6', 'O20.3', 'M77.8',
        'I95.0', 'Q84.4', 'N80.6', 'Y18.7', 'C49.9', 'Z46.5', 'T25.5',
        'H13.0', 'J09.5', 'F98.8', 'Y34.6', 'Z40.5', 'P48.9', 'C49.5',
        'I75.5', 'G24.4', 'N51.6', 'H02.6', 'O41.6', 'F33.0', 'C93.4',
        'P38.6', 'L78.2', 'B86.1', 'L00.8', 'E25.8', 'C21.2', 'L58.9',
        'P01.6', 'Y68.2', 'A34.7', 'O29.0', 'E88.1', 'H82.6', 'T38.8',
        'K70.4', 'F36.9', 'S59.4', 'B65.6', 'J00.8', 'O95.2', 'A78.5',
        'N62.1', 'B19.8', 'V49.9', 'S53.8', 'S89.8', 'Z23.0', 'H09.8',
        'Y43.3', 'K62.3', 'O06.6', 'Y28.1', 'P67.6', 'Y41.3', 'S58.7',
        'H76.0'], dtype='<U5'),
 'address': array(['Truppplatz 94', 'Niklas-van der Dussen-Platz 3/9',
        'Kuschplatz 93', 'Eckehard-Schleich-Allee 7', 'Nettestraße 8/0',
        'Fadime-Schweitzer-Straße 6', 'Gitta-Ruppersberger-Weg 8',
        'Istvan-Klotz-Platz 814', 'Wolfram-Stadelmann-Straße 127',
        'Adolphstr. 5/2', 'Buchholzring 74', 'Zimmerweg 36',
        'Gerlachring 17', 'Mentzelweg 6/1', 'Ehrenfried-Hartmann-Platz 85',
        'Slavica-Austermühle-Straße 63', 'Karsten-Hartmann-Allee 9',
        'Wilmsallee 3', 'Faustgasse 6', 'Scheibeweg 311',
        'Gabi-Jacobi Jäckel-Allee 7/5', 'Jacobi Jäckelgasse 1',
        'Rörrichtplatz 411', 'Isabella-Mohaupt-Ring 17',
        'Mehdi-Nerger-Gasse 9', 'Fritschgasse 75',
        'Hans-Jochen-Hiller-Allee 022', 'Falko-Reuter-Straße 6/3',
        'Heßallee 0/5', 'Stumpfallee 7', 'Ernestine-Löchel-Straße 8/6',
        'Oestrovskyring 239', 'Ruppersbergerring 7', 'Briemerweg 5',
        'Bährgasse 5', 'Volker-Lübs-Platz 0/0', 'Remo-Misicher-Ring 182',
        'Atzlerplatz 52', 'Heuserweg 3', 'Ilona-Karge-Weg 67',
        'Paulina-Röhrdanz-Ring 832', 'Klingelhöferallee 9',
        'Leonie-Heuser-Platz 8', 'Oswin-Pieper-Ring 077',
        'Schönlandstr. 975', 'Klaus-Werner-Gude-Gasse 777',
        'Sophia-Wende-Weg 483', 'Rosina-Lehmann-Straße 7',
        'Förstergasse 2/4', 'Erik-Käster-Allee 328', 'Rörrichtallee 9/9',
        'Andersallee 12', 'Bolanderallee 5/3', 'Kunibert-Süßebier-Ring 42',
        'Catharina-Stolze-Ring 38', 'Christa-Maria-Matthäi-Gasse 5',
        'Grein Grothplatz 92', 'Liebeltstr. 4',
        'Babett-Gumprich-Gasse 603', 'Reingard-Neuschäfer-Allee 8',
        'Holzapfelallee 7/1', 'Budigallee 6', 'Klingelhöferring 4',
        'Ullrichallee 4/4', 'Biggengasse 0/5',
        'Folkert-Rörricht-Platz 1/3', 'Gotthardstraße 873',
        'Ilona-Henschel-Platz 2/5', 'Nada-Mitschke-Weg 106',
        'Schenkgasse 5/7', 'Gretl-Conradi-Gasse 55', 'Wiekstraße 9/3',
        'Elizabeth-Mude-Platz 532', 'Hahnallee 3', 'Steckelallee 123',
        'Junkstr. 7', 'Klingelhöferplatz 83', 'Schmiedeckeweg 189',
        'Wielochring 00', 'Matthäiweg 0/6', 'Olivia-Söding-Gasse 028',
        'Michaele-Adler-Platz 4/4', 'Jähnstr. 81',
        'Miroslaw-Hellwig-Ring 23', 'Edeltraut-Lindner-Straße 4/2',
        'Lore-Eckbauer-Platz 3/8', 'Hessestraße 2/5',
        'Adalbert-Holzapfel-Ring 0/7', 'Wagenknechtring 51',
        'Stanislaw-Trommler-Platz 233', 'Selma-Tröst-Gasse 8/4',
        'Hans-Peter-Köhler-Platz 1', 'Anette-Wohlgemut-Straße 21',
        'Mohamed-Bolnbach-Allee 2', 'Anselm-Fritsch-Straße 274',
        'Thanelallee 2/6', 'Kati-Ruppersberger-Straße 5', 'Jäkelgasse 1',
        'Kuschstraße 87', 'Neureutherstraße 505', 'Geislergasse 77',
        'Margrafweg 6/5', 'Katharine-Hofmann-Platz 5/9', 'Baumweg 7/7',
        'Dagmar-auch Schlauchin-Weg 245', 'Eva-Reising-Ring 7/2',
        'Kästerplatz 2', 'Beierplatz 4', 'Stadelmannallee 687',
        'Reuterallee 1', 'Thiesallee 24', 'Harm-Ditschlerin-Gasse 5/2',
        'Emma-Niemeier-Weg 0/1', 'Liebeltallee 342',
        'Amelie-Dussen van-Allee 87', 'Kruschwitzring 19',
        'Oliver-Fliegner-Gasse 331', 'Heinz-Günther-Hendriks-Ring 089',
        'Czeslaw-Dippel-Straße 65', 'Gröttnergasse 3/8',
        'Radischallee 669', 'Hans Dieter-Stiebitz-Weg 6',
        'Schmidtkestraße 99', 'Dusan-Misicher-Gasse 07',
        'Alexandros-Hartung-Weg 4/5', 'Karzplatz 252', 'Heintzestr. 2/1',
        'Britta-Holsten-Allee 2/8', 'Leif-Graf-Allee 9/8',
        'Börnerplatz 6/5', 'Geislergasse 3/1', 'Gülten-Roskoth-Weg 81',
        'Tschentscherweg 1', 'Heinzgasse 839', 'Harloffweg 5/8',
        'Bergerstr. 3/4', 'Irmtraud-Loos-Gasse 09', 'Heinrichstr. 9',
        'Jacob-Oestrovsky-Ring 5/6', 'Kramerplatz 95',
        'Dariusz-Mans-Gasse 13', 'Haaseallee 042', 'Schmidtallee 10',
        'Weißweg 178', 'Dorit-Austermühle-Weg 6/4', 'Pruschkeweg 8/9',
        'Börnerstr. 2', 'Andersweg 2/1', 'Miesring 26',
        'Friedbert-Heser-Platz 036', 'Hansgeorg-Putz-Straße 7',
        'Jan-Mühle-Platz 53', 'Junkenstr. 04', 'Trude-Eberhardt-Ring 489',
        'Hanife-Dietz-Platz 426', 'Mahmut-Weiß-Allee 65',
        'Staudegasse 948', 'Attila-Cichorius-Platz 2', 'Kuschplatz 7',
        'Rosalie-Beer-Allee 5/0', 'Kathrin-Pruschke-Ring 0/7',
        'Ulrike-Ebert-Allee 8/9', 'Jäkelallee 3/9', 'Meyerstraße 96',
        'Hans Dieter-Heidrich-Gasse 8', 'Haaseallee 618',
        'Segebahnring 08', 'Siglinde-Schottin-Allee 037',
        'Hendrik-Textor-Ring 1/5', 'Tilmann-Liebelt-Platz 548',

In [35]:
df = pd.DataFrame.from_dict(data=data)
#df['phone'] = df['phone'].str.replace(r'[()]',"", regex=True).str.replace(r' ',"", regex=True).str.replace("+49","", regex=False)
df

,id,name,gender,age,height,weight,diagnosis,address,zip,phone
0,1,Karl-Dieter Drubin-Barkholz,Male,50,188,70,T04.4,Truppplatz 94,82307,+49(0)8217 245871
1,2,Hans-Wolfgang Drewes,Male,75,186,60,L70.5,Niklas-van der Dussen-Platz 3/9,60258,+49(0) 403461405
2,3,Sigfried Otto,Male,40,194,68,A83.6,Kuschplatz 93,76834,+49(0) 351544562
3,4,Hermine Köster MBA.,Female,56,171,57,F90.9,Eckehard-Schleich-Allee 7,97348,+49(0)7709 65146
4,5,Inken Misicher,Female,47,165,65,P29.7,Nettestraße 8/0,39805,+49(0) 916667258
...,...,...,...,...,...,...,...,...,...,...
220,221,Marit Hentschel B.Sc.,Female,63,173,64,Y28.1,Kochstraße 1/0,48726,+49 (0) 5218 948794
221,222,Alwine Kramer-Lindau,Female,48,164,48,P67.6,Alena-Steinberg-Weg 4/1,86282,02134 28909
222,223,Kuno Scheel,Male,46,198,76,Y41.3,Neuschäfergasse 71,61524,+49(0)9891 681419
223,224,Paulina Lehmann B.Eng.,Female,63,174,62,S58.7,Weitzelstraße 0,03295,05771 83613
224,225,Artur Täsche,Male,59,184,86,H76.0,Henrike-Aumann-Straße 868,36267,+49(0)9066 153398

In [37]:
df.to_csv("syntheticData.csv", index=False)

### Multiple Dataset

In [22]:
data_patient = {
    'id' : pid,
    'name': name, 
    'diagnosis': diagnosis,
    'phone': phone_number
}

In [23]:
df = pd.DataFrame.from_dict(data=data_patient)
#df['phone'] = df['phone'].str.replace(r'[()]',"", regex=True).str.replace(r' ',"", regex=True).str.replace("+49","", regex=False)
df

    id                               name diagnosis        phone
0    1                      Suzanne Finke     D56.3   0626246164
1    2                  Hubertine Hornich     N20.2  03133778787
2    3              Friedbert Binner MBA.     C98.5   0505712231
3    4            Eckhardt Tlustek-Köster     J00.5   0502369915
4    5  Univ.Prof. Babett Nohlmans B.Eng.     Y51.1  04645003315
5    6                Aysel Ritter-Flantz     Z76.6   0927071282
6    7         Prof. Matthäus Söding B.A.     M84.9  09969442001
7    8         Helena Klingelhöfer B.Eng.     O85.5   0378308679
8    9                     Marius Schmidt     T92.4  09128361998
9   10                  Halina Schweitzer     P15.7  04278789177
10  11                    Adelheid Käster     S51.7   0752640384
11  12                       Jessica Holt     H18.6  07112176111
12  13            Rosalie Niemeier B.Eng.     O03.0   0966242953
13  14                 Dr. Ricardo Nerger     Q58.1   0677203246
14  15       Univ.Prof. Rabea Ritter MBA.     O23.3   0008547647
15  16               Hubertine Oestrovsky     C42.2  02432180719
16  17                  Nicolai Ackermann     Z56.7   0675457394
17  18                       Leopold Metz     K91.6  00429648071
18  19     Dipl.-Ing. Bernard Graf B.Eng.     C01.2  06455473436
19  20                    Günther Steckel     M25.0  04138840655
20  21                   Lia Geisler MBA.     D33.2  04000748566
21  22                  Hans-Jörg Scholtz     V63.6  02658428497
22  23                  Karl-Dieter Adler     S36.7   0222131335
23  24                        Judith Stey     Y16.1   0545708929
24  25                     Alex Cichorius     D76.9   0028640146
25  26                      August Staude     G98.2  01463991589
26  27          Prof. Donata Finke B.Eng.     P76.9  07481265109
27  28             Univ.Prof. Ilse Hecker     C50.9   0620672172
28  29                       Wencke Kensy     M16.1   0731096160
29  30                 Maike Hölzenbecher     D41.6   0666730318
30  31            Matthäus Liebelt B.Eng.     E21.5  07639184881
31  32                   Senol Kranz B.A.     N72.0  08129570082
32  33                       Emilie Klotz     L71.9   0416087500
33  34                  Heidelinde Anders     Z46.9   0453933219
34  35                      Miriam Keudel     H92.3   0155517759
35  36            Dr. Peggy Wieloch B.Sc.     T75.9   0263334545
36  37             Ernst-Otto Mies-Ladeck     L85.8  04586237024
37  38                     Jörgen Harloff     P06.2   0366995291
38  39              Michael Pechel-Walter     F55.7  03669409161
39  40                      Urszula Lorch     Z86.4   0011669164
40  41                 Betty Seifert-Pohl     B63.2  01443032950
41  42                Josef Schmidt B.Sc.     M32.4   0168836930
42  43                       Franz Flantz     T38.3  05795875386
43  44                 Heidemarie Koch II     O10.7  04630801643
44  45                      Danny Ortmann     A12.5   0078715852
45  46                    Christoph Hesse     Y57.8  08761540257
46  47                    Mesut Kraushaar     B54.8  07595091018
47  48                     Anneke Hermann     K78.2   0139219861
48  49             Mariana Benthin-Ehlert     H31.4   0472296226
49  50             Prof. Hannelore Seidel     I63.1  04527157901

In [45]:
df.to_csv("datasets/multiple/patient.csv", index=False)

In [24]:
data_physical = {
    'id': pid,
    'gender': gender,
    'age': age,
    'height': height,
    'weight': weight,
}

In [25]:
df = pd.DataFrame(data=data_physical)
df

            id  gender  age  height  weight
0            1    Male   49     175      88
1            2    Male   66     185      93
2            3    Male   55     176      86
3            4  Female   58     166      62
4            5  Female   75     173      50
...        ...     ...  ...     ...     ...
149995  149996    Male   23     184      78
149996  149997  Female   41     172      74
149997  149998  Female   88     170      57
149998  149999    Male   61     196     104
149999  150000  Female   43     156      47

[150000 rows x 5 columns]

In [26]:
df.to_csv("datasets/multiple/physical.csv")

In [37]:
data_address = {
    'id': pid,
    'address': address,
    'zip': zip_code,
    'city' : city
}

In [38]:
df = pd.DataFrame(data=data_address)
df

            id                      address    zip              city
0            1                 Blochstr. 26  88973           Genthin
1            2                Kargestraße 2  40172        Regensburg
2            3              Krokerstraße 23  72092             Husum
3            4       Annelene-Krein-Gasse 4  50000  Eisenhüttenstadt
4            5  Annelene-Bonbach-Straße 6/4  67513    Donaueschingen
...        ...                          ...    ...               ...
149995  149996       Dursun-Werner-Platz 04  33212             Kleve
149996  149997              Kostolzinstr. 9  17342           Görlitz
149997  149998               Koch IIplatz 1  66630           Kronach
149998  149999         Lotti-Ehlert-Weg 8/4  38848             Ebern
149999  150000        Greta-Fritsch-Allee 7  22180         Lippstadt

[150000 rows x 4 columns]

In [39]:
np.unique(address).size

143628

In [29]:
df.to_csv("datasets/multiple/contact.csv")

## Generate Masked Tables

In [267]:
b_size = 5
nFields = 2
level = 1
relNoise = 0.05
nFields_phone = 3

masked_low = mask(df, bucketize_age, 'age', b_size)
masked_low = mask(masked_low, blur_zip, 'zip', nFields)
masked_low = mask(masked_low, generalize_diagnosis, 'diagnosis', level)
masked_low = mask(masked_low, add_relative_noise, 'height', relNoise)
masked_low = mask(masked_low, blur_phone, 'phone', nFields_phone)

In [269]:
masked_low.to_csv("masked_low.csv")

In [270]:
b_size = 10
nFields = 3
level = 2
relNoise = 0.10
nFields_phone = 5

masked_medium = mask(df, bucketize_age, 'age', b_size)
masked_medium = mask(masked_medium, blur_zip, 'zip', nFields)
masked_medium = mask(masked_medium, generalize_diagnosis, 'diagnosis', level)
masked_medium = mask(masked_medium, add_relative_noise, 'height', relNoise)
masked_medium = mask(masked_medium, blur_phone, 'phone', nFields_phone)

In [271]:
masked_medium.to_csv("masked_medium.csv")

In [272]:
b_size = 20
nFields = 4
level = 2
relNoise = 0.20
nFields_phone = 7

masked_high = mask(df, bucketize_age, 'age', b_size)
masked_high = mask(masked_high, blur_zip, 'zip', nFields)
masked_high = mask(masked_high, generalize_diagnosis, 'diagnosis', level)
masked_high = mask(masked_high, add_relative_noise, 'height', relNoise)
masked_high = mask(masked_high, blur_phone, 'phone', nFields_phone)

In [273]:
masked_high.to_csv("masked_high.csv")

In [274]:
masked_high

,id,name,gender,age,height,weight,diagnosis,zip,phone
0,1,Beata Holzapfel MBA.,Female,[40.0 - 59.0],151,60,PXX.X,8XXXX,0044XXXXXXX
1,2,Hans-Otto Reinhardt,Male,[60.0 - 79.0],166,86,TXX.X,0XXXX,001XXXXXXX
2,3,Prof. Harald Hölzenbecher,Male,[60.0 - 79.0],174,72,SXX.X,3XXXX,0962XXXXXXX
3,4,Maritta Bloch B.Eng.,Female,[60.0 - 79.0],138,71,DXX.X,8XXXX,0929XXXXXXX
4,5,Carl-Heinz Löwer-Wohlgemut,Male,[40.0 - 59.0],184,70,JXX.X,9XXXX,095XXXXXXX
...,...,...,...,...,...,...,...,...,...
149995,149996,Wojciech Reinhardt MBA.,Male,[40.0 - 59.0],228,52,HXX.X,4XXXX,016XXXXXXX
149996,149997,Univ.Prof. Michael Jüttner MBA.,Male,[100.0 - 119.0],176,89,FXX.X,3XXXX,062XXXXXXX
149997,149998,Denis Schäfer,Male,[20.0 - 39.0],140,78,BXX.X,9XXXX,0005XXXXXXX
149998,149999,Antonietta Bähr-Hahn,Female,[40.0 - 59.0],192,57,JXX.X,0XXXX,0901XXXXXXX
149999,150000,Silvester Dehmel-Etzler,Male,[40.0 - 59.0],150,80,IXX.X,9XXXX,0426XXXXXXX

In [249]:
df['zip']

0         80061
1         02512
2         38089
3         89900
4         95357
          ...
149995    49306
149996    32496
149997    99452
149998    04136
149999    96694
Name: zip, Length: 150000, dtype: object

In [2]:
a = 2
b = 3
(a,b)

(2, 3)