In [127]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import pandasql as ps
import string
import random
from faker import Faker

from lib.masking_functions import mask, bucketize_age, blur_zip, generalize_diagnosis, add_relative_noise, blur_phone

In [128]:
def plot_probabilities(dist):
    dist_copy = dist.copy().sort_index()
    # labels = dist.index.to_series().apply(lambda x: '{0}-{1}'.format(*x))
    # labels = dist.index

    fig = plt.figure()
    ax = fig.add_axes([0,0,1,1])
    ax.bar(range(len(dist_copy.values)),dist_copy.values)
    plt.show()

## Data Generation

In [129]:
seed = 0

fake = Faker('de_DE')

fake.seed_instance(seed)
np.random.seed(seed)
random.seed(seed)

from faker.providers import BaseProvider

# create new provider class for diagnosis following the ICD_10_GM medical code
class ICD_10_GM_Provider(BaseProvider):
    def diagnosis(self) -> str:
        letter = np.random.choice(string.ascii_uppercase.replace("U", "").replace("W", "").replace("X", ""))
        number = np.trunc(np.random.uniform(0.0, 99.9)*10)/(10)
        if number < 10:
            return letter+"0"+str(number)
        else:
            return letter+str(number)
        
fake.add_provider(ICD_10_GM_Provider)

In [130]:
nRows = 4000

pid = np.arange(1,nRows+1)
age = np.random.normal(60, 20, nRows).astype(int)

# Remove patients with age lower than 18 or higher than 100
invalid = age[np.logical_or(age < 18, age > 100)].size
while invalid > 0:
    age[np.logical_or(age < 18, age > 100)] = np.random.normal(75, 10, invalid).astype(int)
    invalid = age[np.logical_or(age < 18, age > 100)].size

# diagnosis = np.asarray([fake.diagnosis() for i in range(nRows)])
address = np.asarray([fake.street_address() for i in range(nRows)])
zip_code = np.asarray([fake.postcode() for i in range(nRows)])
city = np.asarray([fake.city_name() for i in range(nRows)])
phone_number = np.asarray([fake.unique.phone_number() for i in range(nRows)])

In [131]:
name = []
gender = []
weight = np.empty(nRows).astype(int)
height = np.empty(nRows).astype(int)

for i in range(nRows):
    rand = np.random.rand()
    if rand < 0.48:
        name.append(fake.unique.name_male())
        gender.append("Male")
        height[i] = int(np.random.normal(180, 7.5))
        weight[i] = int(np.random.normal(80, 10))
    elif rand < 0.98:
        name.append(fake.unique.name_female())
        gender.append("Female")
        height[i] = int(np.random.normal(167, 5))
        weight[i] = int(np.random.normal(60, 7.5))
    else:
        name.append(fake.unique.name_nonbinary())
        gender.append("Non-Binary")
        height[i] = int(np.random.normal(175, 6))
        weight[i] = int(np.random.normal(70, 10))

name = np.asarray(name)
gender = np.asarray(gender)

In [132]:
diagnosis = []
medication = []

for i in range(nRows):
    rand = np.random.rand()
    if rand < 0.09:
        diagnosis.append("E10")
        medication.append("Insulin")
    elif rand < 0.98:
        diagnosis.append("E11")
        medication.append("Metformin")
    else:
        diagnosis.append("E13")
        medication.append("Insulin")

diagnosis = np.asarray(diagnosis)
medication = np.asarray(medication)
glucose = np.asarray([np.random.randint(60, 450) for i in range(nRows)])
HbA1C = np.asarray([round(np.random.uniform(4, 12), 2) for i in range(nRows)])

In [133]:
ersatz_kassen = [104940005, 103306961, 104450915, 109519176, 103508742, 101002659, 101575519] 
ikks = [109888001, 108888888, 109500787, 109500044, 109500490, 109500398] 
aok =  [108918320, 108814099, 108928697, 108811072, 108815718] 
bkk = [108313123, 108918428, 108817930, 108811215, 108334056, 108815217, 108312586]  
lkk = [109000051] 
alle_kassen = ersatz_kassen + ikks + aok + bkk + lkk
kassen_gewichte = (
    [0.4 / len(ersatz_kassen)] * len(ersatz_kassen) +
    [0.07 / len(ikks)] * len(ikks) +
    [0.37 / len(aok)] * len(aok) +
    [0.15 / len(bkk)] * len(bkk) +
    [0.01]  
)
insurance_company = np.asarray([random.choices(
    alle_kassen,
    weights=kassen_gewichte,
    k=1
)[0]for i in range(nRows)])
insurance_number = np.asarray([fake.bothify(text='?#########', letters='ABCDEFGHIJKLMNOPQRSTUVWXYZ') for i in range(nRows)])

### Single Dataset

In [134]:
name[nRows - 1] = "Henri Allgöwer"
address[nRows - 1] = "Einsteinufer 17"
zip_code[nRows - 1] = 10587
phone_number[nRows - 1] = "01765 123456"
gender[nRows - 1] = "Male"
height[nRows - 1] = 178
weight[nRows - 1] = 68
age[nRows - 1] = 27
insurance_company[nRows - 1] = 101575519
diagnosis[nRows - 1] = "E10"
glucose[nRows - 1] = 453
HbA1C[nRows - 1] = 10.13
medication[nRows - 1] = "Insulin"

data = {'id': pid,
    'name': name, 
    'address': address,
    'zip': zip_code,
    'phone': phone_number,
    'gender': gender, 
    'height': height,
    'weight': weight,
    'age': age,
    'insurance_company': insurance_company,
    'insurance_number': insurance_number,
    'diagnosis': diagnosis,
    'glucose': glucose,
    'HbA1C': HbA1C,
    'medication': medication
}
data

{'id': array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
         27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
         40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
         53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
         66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
         79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
         92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
        105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
        118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
        131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
        144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
        157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
        170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
        183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
        196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
        209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
        222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
        235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
        248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
        261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
        274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
        287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
        300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
        313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
        326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
        339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
        352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
        365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
        378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
        391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
        404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
        417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
        430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
        443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
        456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
        469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
        482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
        495, 496, 497, 498, 499, 500]),
 'name': array(['Frank-Peter Finke', 'Hardy Henschel', 'Paola Rudolph',
        'Manfred Mitschke', 'Ljudmila Schmiedecke', 'Karl-Josef Schuster',
        'Kurt Kruschwitz', 'Sebastiano Cichorius B.Eng.', 'Rouven Kreusel',
        'Stefani Fröhlich', 'Luigi Stiffel', 'Nermin Trubin',
        'Gülten Ortmann', 'Svea Werner B.Eng.', 'Paola Gute',
        'Leo Stiebitz', 'Karl-Peter Mühle B.Eng.',
        'Burckhard Trapp B.Eng.', 'Frau Carolina Ebert', 'Rose Hettner',
        'Herr Karl-Werner Wieloch', 'Berend Trüb',
        'Univ.Prof. Isabel Nohlmans B.A.', 'Sami Rogge', 'Friedhold Karz',
        'Traude Kade', 'Burkhard Gute B.A.', 'Lidija Bolzmann MBA.',
        'Herr Christoph Albers B.A.', 'Meinrad Paffrath',
        'Prof. Frieda Matthäi B.Eng.', 'Enno Rust', 'Pierre Kade B.Eng.',
        'Sebastiano Röhricht-Möchlichen', 'Ilonka Mälzer',
        'Monique Tintzmann-Kranz', 'Dr. Peter-Michael Dobes',
        'Werner Mosemann', 'Anett Wohlgemut', 'Ernst-Otto Wohlgemut',
        'Türkan Rörricht B.A.', 'Antonino Atzler MBA.',
        'Ibrahim Gehringer MBA.', 'Loni Gotthard', 'Ottomar Carsten',
        'Anica Pechel', 'Karl-Friedrich Grein Groth-Bohlander',
        'Anatolij Scheibe-Zorbach', 'Ulrike Weiß-Trommler', 'Evelyn Stey',
        'Ramon Trommler', 'Pasquale Schottin-Mälzer',
        'Adolfine Hövel-Heinrich', 'Dr. Manuela Mitschke B.Sc.',
        'Konstanze Stadelmann MBA.', 'Ernestine Kabus',
        'Horst-Günter Jacobi Jäckel', 'Cläre Dörschner',
        'Hermann Josef Gröttner', 'Gero Pieper', 'Andrew Gertz B.Eng.',
        'Herr Sigismund Noack MBA.', 'Aline Schacht-Hertrampf',
        'Gretel Salz', 'Siglinde Pruschke',
        'Diethard auch Schlauchin MBA.', 'Univ.Prof. Hans-Detlef Schomber',
        'Univ.Prof. Theodoros Ullrich', 'Prof. Hans-Detlef Schüler',
        'Dr. Tino Schomber', 'Lisbeth Ackermann', 'Siegrid Barth MBA.',
        'Nikolaus Paffrath', 'Hannchen Hornich MBA.',
        'Klaus Dieter Junitz', 'Herr Karl-Otto Mohaupt B.Eng.',
        'Adrian Margraf', 'Nils Rust B.Eng.', 'Alexa Kühnert',
        'Matteo Pruschke', 'Gitta Adler MBA.', 'Frau Jolanthe Römer',
        'Emilia Roskoth', 'Milica Rose', 'Frau Rosel Ziegert B.A.',
        'Greta Margraf', 'Agathe Binner', 'Rosa-Maria Kostolzin-Liebelt',
        'John Schwital B.A.', 'Alberto Hartmann-Franke',
        'Ing. Ilija Staude B.A.', 'Gunter Dehmel B.A.',
        'Vitali Wagenknecht', 'Mona Mentzel', 'Reinhilde Ditschlerin',
        'Dr. Christopher Noack', 'Reinhart Tlustek-Röhrdanz',
        'Frau Beatrix Heinz', 'Dipl.-Ing. Nancy Möchlichen MBA.',
        'Hanne Eberhardt', 'Prof. Antonios Zorbach B.Eng.',
        'Niko Wernecke B.A.', 'Detlev Süßebier',
        'Dipl.-Ing. Zofia Ullrich', 'Bela Langern', 'Maxim Löchel-Häring',
        'Vitali Henck', 'Alessandro Sager', 'Dipl.-Ing. Valerij Schinke',
        'Wenke Junken', 'Franjo Ehlert', 'Margrit Schaaf',
        'Mirko Bolander-Haase', 'Anita Holzapfel-Rosemann',
        'Tilo Buchholz-Sauer', 'Gönül Lehmann',
        'Ing. Knud van der Dussen B.Eng.', 'Klaus-Ulrich Fröhlich',
        'Werner Salz-Schuster', 'Damian Röhricht', 'Rosa-Maria Stahr B.A.',
        'Charlotte Lindner B.A.', 'Kenan Martin',
        'Prof. Paul-Heinz Rogner', 'Detlev Schwital-Austermühle',
        'Miroslawa Schmidt', 'Volkmar Lange B.Eng.',
        'Ortrun Schottin-Stiebitz', 'Ing. Kaspar Drewes B.Eng.',
        'Dana Gunpf B.Eng.', 'Slawomir Stiebitz', 'Ing. Janusz Gumprich',
        'Hagen Fischer', 'Balthasar Kusch MBA.', 'Heidemarie Ortmann',
        'Meike Schinke B.Eng.', 'Tamara Tschentscher', 'Theresia Rudolph',
        'Sigmar Wieloch B.Sc.', 'Zita Ruppersberger B.A.',
        'Hans-Rudolf Kobelt', 'Univ.Prof. Urban Schinke B.Sc.',
        'Ingo Riehl', 'Herr Gottfried Wilmsen', 'Alfredo Schmiedt',
        'Oscar Benthin-Löwer', 'Knud Klingelhöfer-Ring', 'Nurten Junken',
        'Juergen Preiß', 'Janusz Krebs', 'Hans-Wolfgang Thies',
        'Prof. Patric Hahn B.Eng.', 'Jolanta Seidel',
        'Joanna van der Dussen MBA.', 'Cristina Beier B.A.',
        'Eveline Hörle', 'Irmengard Kade MBA.', 'Beatrix Lehmann MBA.',
        'Horst-Günter Wähner-Zimmer', 'Adolfine Rosenow',
        'Helene Renner-Häring', 'Antonino Johann MBA.',
        'Prof. Änne Kreusel MBA.', 'Roberto Atzler', 'Juergen Reichmann',
        'Prof. Eggert Noack B.Eng.', 'Dr. Zenon Dehmel B.A.',
        'Nadeshda Köhler', 'Slavko Pärtzelt',
        'Prof. Hans-Detlef Jockel B.A.', 'Vlado Jacobi Jäckel',
        'Eva-Marie Kühnert-Dörschner', 'Dipl.-Ing. Lisbeth Ullmann MBA.',
        'Prof. Karlheinz Plath', 'Mareile Wulf', 'Ljudmila Heß B.Sc.',
        'Anastasios van der Dussen-Täsche', 'Nada Stadelmann-Pruschke',
        'Rüdiger Bohnbach', 'Helmuth Eigenwillig', 'Edelbert Köster MBA.',
        'Gesine Wulf-Ziegert', 'Janina Geisel', 'Recep Flantz-Barkholz',
        'Hans-Henning Trubin-Reinhardt', 'Ana Pohl',
        'Hans-Otto Rose B.Sc.', 'Gerhild Killer',
        'Hans-Jochen Zirme B.Eng.', 'Dorit Trommler-Weinhage',
        'Ing. Regina Jacob B.Eng.', 'Romana Schönland', 'Adeline Trub',
        'Waldtraut Geisler-Beer', 'Reginald Kramer', 'Pauline Geisel',
        'Frau Magdalena Hövel B.A.', 'Sibilla Etzler',
        'Dr. Jörg-Peter Ehlert', 'Leonie Bonbach',
        'Hans-Hermann Bohlander', 'Romuald Säuberlich-Meister',
        'Ing. Hans-Gerhard Süßebier MBA.', 'Prof. Bernt Jäntsch B.Sc.',
        'Anatoli Stahr-Striebitz', 'Jozef Stiebitz',
        'Andreas Ruppersberger', 'Hinrich Junken',
        'Prof. Reinhart Textor B.Eng.', 'Ing. Heinz-Wilhelm Rust B.Eng.',
        'Zbigniew Lindner', 'Angelina Ernst MBA.', 'Waldtraut Hoffmann',
        'Cordula Neureuther-Klemt', 'Univ.Prof. Ludmilla Wesack',
        'Dipl.-Ing. Cläre Rörricht B.Sc.', 'Horst-Günter Bolnbach B.A.',
        'Lisbeth Langern-Häring', 'Zoran Mangold',
        'Hermann-Josef Schmidtke', 'Klaus Dieter Hermighausen',
        'Marlene Zobel', 'Hanspeter Kraushaar-Kaul',
        'Adelinde Heintze-Heß', 'Wiltrud Hande-Ullmann',
        'Giuseppina Ackermann', 'Imke Junk', 'Karla Seidel', 'Andy Wähner',
        'Ramona Krause-Mans', 'Ruthild Ritter MBA.', 'Berit Austermühle',
        'Gerlind Häring B.Eng.', 'Prof. Ursula Jungfer',
        'Prof. Volker Walter B.A.', 'Irene Huhn', 'Friedlinde Häring',
        'Ing. Natalie Rosenow MBA.', 'Rotraut Karz',
        'Ing. Elfriede Schmiedecke B.Eng.', 'Prof. Mara Thies B.Eng.',
        'Antonia Rose', 'Luka Herrmann', 'Ing. Annita Bruder B.A.',
        'Sarina Seip', 'Dr. Ekrem Röhrdanz', 'Sandra Kranz-Gröttner',
        'Paul Vollbrecht', 'Irmtraut van der Dussen-Beer',
        'Dr. Britta Stroh', 'Univ.Prof. Damaris Hentschel MBA.',
        'Claudia Freudenberger', 'Birger Bachmann-Röhrdanz',
        'Gülsen Bauer-Zirme', 'Alfons Gotthard', 'Eberhardt Bolander',
        'Joana Neuschäfer-Liebelt', 'Matteo Pieper', 'Michelle Schomber',
        'Prof. Faruk Franke', 'Anneliese Bolnbach',
        'Ing. Anette Köster B.A.', 'Paul-Gerhard Schulz B.A.',
        'Dominic Wagenknecht', 'Prof. Gernot Sorgatz MBA.', 'Iwan Rädel',
        'Karl-Hermann Hornig MBA.', 'Leonard Hoffmann', 'Stephanie Krebs',
        'Alberto Schweitzer-Birnbaum', 'Alan Dietz', 'Luigi Barkholz',
        'Diethelm Biggen-Scholtz', 'Josefine Vogt', 'Roland Mielcarek',
        'Ricarda Kobelt', 'Hilmar Hentschel-Wähner',
        'Dipl.-Ing. Ludmila Junken', 'Herr Marek Henck B.Sc.',
        'Frau Valeska Grein Groth B.Eng.', 'Hedy Schweitzer',
        'Prof. Hansjoachim Hornich', 'Herr Leon Rose', 'Lutz Cichorius',
        'Mario Ortmann', 'Hilda Schlosser', 'Dunja Schulz',
        'Hans Jörg Beyer-Junken', 'Alexander Klemt', 'Marco Plath',
        'Gabriella Jockel', 'Fabian Pruschke', 'Peer Steinberg',
        'Frau Kristina Mosemann B.Eng.', 'Ing. Slavica Rosemann',
        'Alfons Mies', 'Dipl.-Ing. Irmi Gehringer',
        'Prof. Ayse Henck B.Eng.', 'Ing. Ortwin Scheibe',
        'Ricardo Kambs B.Sc.', 'Charles Kobelt-Vogt',
        'Philippe Oestrovsky', 'Massimo Holt', 'Bärbel Junk',
        'Frederic Reuter', 'Ahmet Mohaupt', 'Rochus Bohlander',
        'Univ.Prof. Kirsten Beier', 'Melitta Riehl B.Eng.', 'Hubert Hein',
        'Sophie Schüler', 'Corinne Kallert', 'Univ.Prof. Catherine Trüb',
        'Petar Seip-Kranz', 'Helmut Drubin', 'Prof. Gabriela Bonbach B.A.',
        'Denny Putz-Graf', 'Ludmila Ladeck', 'Cäcilie Karz',
        'Herr Dennis Köhler MBA.', 'Marie Ebert',
        'Gudula Möchlichen B.Eng.', 'Hans Jörg Seidel',
        'Reinhart Mielcarek', 'Ing. Marcella Pärtzelt', 'Sergej Hörle',
        'Harri Döhn', 'Leonie Gertz', 'Mohammad Trapp', 'Dimitrios Schulz',
        'Wencke Scheel', 'Gerald Jäkel B.Sc.',
        'Frau Cäcilia Mielcarek MBA.', 'Anny Etzler', 'Prof. Herma Holt',
        'Ljiljana Patberg', 'Pauline Johann', 'Ing. Urszula Förster',
        'Reinhard Gehringer-Stiffel', 'Univ.Prof. Mario Weiß',
        'Dorothee Seip', 'Herr Helmuth Geisel B.Eng.',
        'Alexandre Roskoth MBA.', 'Christa-Maria Steinberg',
        'Bastian Drewes B.A.', 'Elly Fiebig B.Eng.',
        'Univ.Prof. Osman Gierschner MBA.', 'Ronald Hornig',
        'Till Schweitzer B.A.', 'Ryszard Bolnbach',
        'Ing. Denise Kuhl MBA.', 'Antonia Köster', 'Janos Hamann',
        'Dipl.-Ing. Engelbert Oderwald', 'Corinna Köster',
        'Dipl.-Ing. Heinz-Peter Hendriks', 'Joachim Dippel',
        'Hubertine Jockel B.Eng.', 'Prof. Kornelia Hein B.Eng.',
        'Ing. Danuta Budig', 'Prof. Carl-Heinz Briemer',
        'Damaris Döhn-Bloch', 'Jonas Killer MBA.', 'Karen Gehringer',
        'Pauline Barkholz-Henk', 'Herr Hansjoachim Christoph B.A.',
        'Sina Walter', 'Willy Weimer MBA.', 'Denny Klemm',
        'Christopher Kade', 'Hans-Jochen Trubin', 'Ing. Radmila Johann',
        'Damian Margraf MBA.', 'Muharrem Weller-Mies',
        'Univ.Prof. Conny Schenk', 'Reginald Bender',
        'Ing. Erik Ebert B.Sc.', 'Dipl.-Ing. Dorothee Henck B.A.',
        'Mariana Hölzenbecher', 'Hans-Karl Binner',
        'Univ.Prof. Tanja Lehmann B.A.', 'Rocco Wähner',
        'Prof. Friederike Hering', 'Karl Heinz Mies', 'Vinzenz Döhn',
        'Denis Römer', 'Prof. Janet Löwer', 'Univ.Prof. Mehdi Faust B.Sc.',
        'Senta Vogt-Scholz', 'Oscar Margraf-Flantz', 'Ladislaus Schinke',
        'Univ.Prof. Friedhold Röhrdanz', 'Janus Naser B.Eng.',
        'Prof. Kilian Zahn MBA.', 'Ingelore Lindner', 'Helma Schomber',
        'Rudolf Schlosser', 'Eckard Seifert', 'Brunhild Hentschel',
        'Prof. Hans-Gerd Gorlitz B.A.', 'Mike Krause B.Eng.',
        'Torsten Pergande', 'Krzysztof Dehmel B.A.', 'Ing. Leni Segebahn',
        'Michaele Adler B.A.', 'Ibrahim Kallert',
        'Wolf-Rüdiger Kensy-Schottin', 'Ida Heydrich',
        'Konstanze Gehringer B.A.', 'Prof. Zenta Stey', 'Holger Stoll',
        'Tassilo Stroh', 'Raik Scholtz-Steckel',
        'Birgitt Haering-Dörschner', 'Eckhardt Boucsein MBA.',
        'Nadin Hartmann-Huhn', 'Wladimir Gorlitz B.Sc.',
        'Prof. Kazim Löffler B.Sc.', 'Dr. Marietta Reuter B.A.',
        'Hansjürgen Zorbach B.Sc.', 'Rosmarie Hörle',
        'Ing. Margita Weimer', 'Herr Thorsten Henschel',
        'Songül Keudel-Hermighausen', 'Christa Segebahn', 'Bärbel Wulff',
        'Malgorzata Steinberg-Otto', 'Hellmuth Fliegner B.Sc.',
        'Herr Gunar Ditschlerin', 'Linus Wiek', 'Carolin Jacob',
        'Falk Pölitz', 'Marina Ebert', 'Damian Atzler',
        'Prof. Tatjana Gertz B.A.', 'Georg Graf-Kensy', 'Luisa Kensy',
        'Gerlinde Schleich', 'Wolfgang Bärer', 'Ing. Fernando Nerger',
        'Veronica Girschner', 'Sara Mende-Weinhold', 'Arne Mitschke',
        'Ing. Valeska Etzler', 'Guntram Caspar-Jacobi Jäckel',
        'Ing. Hanne Birnbaum', 'Catrin Roskoth',
        'Angela Hölzenbecher B.Sc.', 'Guiseppe Häring MBA.',
        'Marcus Hänel-Gehringer', 'Dr. Freia Lindner B.Sc.',
        'Enver Lehmann', 'Dr. Gerta Sontag B.A.',
        'Univ.Prof. Ralf-Dieter Heß', 'Susanne Kohl-Jockel', 'Berit Roht',
        'Albina Kreusel B.Eng.', 'Maria Börner', 'Cathrin Jüttner',
        'Prof. Klaus Schinke', 'Ilonka Meyer', 'Mesut Fritsch',
        'Anastasia Heidrich B.A.', 'Otto Winkler',
        'Ing. Arthur Textor B.Eng.', 'Isolde Stey', 'Kaspar Seip',
        'Sigismund Walter', 'Univ.Prof. Miriam Faust B.Eng.',
        'Prof. Karl-Ernst Krause', 'Senol Eberth',
        'Dipl.-Ing. Ekaterina Lange', 'Univ.Prof. Joerg Bien B.Sc.',
        'Marga Linke', 'Judith Zimmer', 'Cecilia Täsche MBA.',
        'Frederic Heidrich', 'Meinrad Häring', 'Dr. Jacek Stiffel B.A.',
        'Nada Hänel', 'Emine Benthin', 'Hans-Christian Rörricht',
        'Marita Walter', 'Prof. Delia Textor B.Sc.',
        'Ing. Eckhart Hellwig', 'Apollonia Wilmsen',
        'Hans Dieter Säuberlich MBA.', 'Sedat Hornich-Finke',
        'Sönke Weinhold', 'Stefania Reising', 'Heimo Köhler',
        'Univ.Prof. Ann Löchel B.Eng.', 'Christiana Graf MBA.',
        'Ayse Textor', 'Madlen Röhricht', 'Ivan Schaaf-Wilms',
        'Dipl.-Ing. Theodora Jähn', 'Mikhail Hartmann',
        'Sergei Kranz B.Eng.', 'Henri Allgöwer'], dtype='<U36'),
 'address': array(['Benthinring 6/4', 'Sauerplatz 42', 'Reinhardtweg 41',
        'Mühlestr. 565', 'Martinallee 0', 'Irmgard-Kühnert-Allee 975',
        'Trommlerallee 393', 'Madlen-Ritter-Straße 158',
        'Ladislaus-Röhrdanz-Ring 858', 'Matthäigasse 5/9',
        'Gorlitzplatz 09', 'Bohnbachgasse 20', 'Tröststr. 8',
        'Rosemarie-Stoll-Weg 9/4', 'Spießweg 1', 'Zenon-Schacht-Allee 3',
        'Janina-Hiller-Gasse 52', 'Bolandergasse 30',
        'Falko-Schweitzer-Platz 615', 'Edeltraud-Barkholz-Platz 17',
        'Tamara-Stoll-Gasse 9/1', 'Heinz-Wilhelm-Boucsein-Allee 5',
        'Burkard-Pärtzelt-Straße 916', 'Klemtweg 9/2',
        'Lioba-Stiffel-Platz 58', 'Dolores-Martin-Allee 07',
        'Sieringring 4/2', 'Weinhagegasse 0', 'Ilhan-Wilms-Straße 9',
        'Scheelweg 46', 'Abraham-Schenk-Platz 2', 'Fanny-Mende-Straße 0/6',
        'Guenther-Meister-Gasse 2', 'Rosestr. 075', 'Binnerallee 3/8',
        'Alexandre-Kusch-Allee 5/0', 'Iris-Werner-Gasse 319', 'Holtweg 17',
        'Anastasios-Höfig-Straße 428', 'Oxana-Förster-Ring 003',
        'Kobeltstr. 977', 'Reuterplatz 69', 'Frederik-Flantz-Ring 5',
        'Mijo-Ziegert-Weg 042', 'Klingelhöferstraße 41',
        'Sylke-Biggen-Ring 81', 'Jüttnerring 1/1', 'Kallertallee 1',
        'Hildegard-Ortmann-Straße 452', 'Segebahngasse 133',
        'Andersgasse 8/8', 'Noackallee 61', 'Johannes-Schaaf-Platz 3/5',
        'Marie-Trapp-Gasse 3/1', 'Hertrampfplatz 392',
        'Vadim-Kostolzin-Ring 19', 'Carla-Ladeck-Allee 8/7', 'Ottoweg 89',
        'Milos-Tröst-Allee 5', 'Patrizia-Hertrampf-Weg 69',
        'Bolzmannallee 801', 'Artur-Jacob-Gasse 5/2', 'Köhlerstr. 8/8',
        'Hanife-Pölitz-Weg 634', 'Krebsstr. 00', 'Pechelstr. 5',
        'Hesseallee 6', 'Bolanderplatz 34', 'Theodora-Beier-Straße 2/7',
        'Mareen-Kitzmann-Straße 976', 'Edelbert-Mühle-Platz 099',
        'Döhnweg 3', 'Dörschnergasse 9/5', 'Zorbachallee 64',
        'Arnim-Zimmer-Straße 5/3', 'Schulzgasse 074',
        'Hermann Josef-Davids-Allee 8/4', 'Slavko-Rosenow-Straße 161',
        'Wulffplatz 766', 'Junkweg 1', 'Erwin-Klemt-Allee 552',
        'Maria-Luise-Kobelt-Gasse 30', 'Karen-Albers-Ring 0',
        'Hans-Günter-Meyer-Gasse 5/4', 'Waltraut-Hänel-Ring 7',
        'Röhrichtweg 2', 'Antje-Säuberlich-Ring 62',
        'Mahmut-Pergande-Platz 24', 'Stadelmanngasse 90',
        'Hiltrud-Briemer-Platz 4/8', 'Danielle-Löffler-Ring 1',
        'Schulzring 660', 'Margrafplatz 4', 'Undine-Gorlitz-Gasse 1',
        'Kühnertplatz 6/2', 'Kargestr. 57', 'Wernerplatz 0',
        'Albersplatz 1', 'Sigurd-Tröst-Straße 738', 'Schulzgasse 400',
        'Rädelstr. 7/1', 'Hölzenbecherallee 91', 'Ljiljana-Hesse-Ring 1',
        'Cetin-Lindau-Ring 8', 'Annie-Döhn-Straße 4/4', 'Roskothweg 21',
        'Kuschstr. 2/8', 'Schulzstraße 3/7', 'Oderwaldweg 742',
        'Reni-Scholz-Platz 576', 'Heidelore-Butte-Allee 0/5',
        'Elsbeth-Adler-Ring 3', 'Grein Grothgasse 7/5',
        'Maxim-Löchel-Allee 2/7', 'Ehlertplatz 75', 'Nohlmansstraße 37',
        'Selma-Krebs-Gasse 12', 'Josefine-Schwital-Allee 39',
        'Ildiko-Pieper-Ring 6', 'Eva-Marie-Thies-Weg 9/7',
        'Trommlerstraße 54', 'Bernfried-Fröhlich-Ring 402',
        'Stolzeplatz 8/3', 'Milan-Schmidt-Gasse 558',
        'Hermighausengasse 351', 'Grafallee 44', 'Hermighausenstraße 3',
        'Röhrdanzgasse 777', 'Oderwaldstraße 1/1',
        'Eckart-Wilmsen-Platz 3/7', 'Rörrichtallee 0/2', 'Hartmannplatz 5',
        'Döringstr. 9', 'Zänkerstraße 8/4', 'Alexej-Drubin-Weg 263',
        'Warmerweg 886', 'Raphael-Seifert-Ring 953',
        'Johanna-Henck-Gasse 5', 'Schuchhardtstraße 9',
        'Marcella-Austermühle-Weg 5', 'Petra-Kruschwitz-Platz 81',
        'Liesa-Wulff-Straße 32', 'Kitzmannstr. 71', 'Noackstraße 0',
        'Gesa-Oestrovsky-Allee 8/5', 'Etzlerstr. 3/5', 'Bonbachplatz 535',
        'Johan-Kaul-Allee 40', 'Janine-Schüler-Platz 0',
        'Andree-Hendriks-Gasse 351', 'Stadelmannstraße 37',
        'Orhan-Jockel-Platz 6', 'Sabri-Hettner-Weg 0/9', 'Kreinplatz 829',
        'Maurizio-Hellwig-Platz 02', 'Slobodan-Schinke-Gasse 2/9',

In [135]:
df_synthetic_data = pd.DataFrame.from_dict(data=data)
#df['phone'] = df['phone'].str.replace(r'[()]',"", regex=True).str.replace(r' ',"", regex=True).str.replace("+49","", regex=False)
df_synthetic_data

,id,name,address,zip,phone,gender,height,weight,age,insurance_company,insurance_number,diagnosis,glucose,HbA1C,medication
0,1,Frank-Peter Finke,Benthinring 6/4,63634,+49(0)6922 01205,Male,193,63,95,108313123,A676434302,E10,215,11.10,Insulin
1,2,Hardy Henschel,Sauerplatz 42,27554,(05876) 360586,Male,167,82,68,108811072,D568238630,E11,303,7.54,Metformin
2,3,Paola Rudolph,Reinhardtweg 41,53272,(07996) 94991,Female,162,63,79,108888888,E131064992,E11,289,4.02,Metformin
3,4,Manfred Mitschke,Mühlestr. 565,37218,(02428) 98642,Male,180,56,78,103508742,O293579875,E11,118,6.28,Metformin
4,5,Ljudmila Schmiedecke,Martinallee 0,52152,(09146) 46907,Female,171,51,97,108918320,F524358073,E11,180,10.51,Metformin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Ivan Schaaf-Wilms,Fredo-Schuchhardt-Straße 94,90498,08848 69317,Male,173,76,58,108815217,F484319828,E11,352,9.04,Metformin
496,497,Dipl.-Ing. Theodora Jähn,Klemmplatz 5/0,79069,+49(0)4722 545949,Female,170,67,46,108811072,L739061003,E11,296,6.18,Metformin
497,498,Mikhail Hartmann,Ramona-Ditschlerin-Weg 449,00942,+49(0) 396231019,Male,178,81,49,103306961,J258936323,E11,328,11.65,Metformin
498,499,Sergei Kranz B.Eng.,Käte-Albers-Allee 6/6,04504,+49(0)1274 092621,Male,178,76,39,103306961,C790703966,E10,86,7.15,Insulin
499,500,Henri Allgöwer,Einsteinufer 17,10587,01765 123456,Male,178,68,27,101575519,T184006208,E10,453,10.13,Insulin

In [136]:
dir = os.getcwd()
df_synthetic_data.to_csv(dir + "/datasets/single/syntheticData.csv", index=False)

### Multiple Dataset

In [137]:
data_patient = {
    'id' : pid,
    'name': name, 
    'diagnosis': diagnosis,
    'phone': phone_number
}

In [138]:
df = pd.DataFrame.from_dict(data=data_patient)
#df['phone'] = df['phone'].str.replace(r'[()]',"", regex=True).str.replace(r' ',"", regex=True).str.replace("+49","", regex=False)
df

      id                      name diagnosis              phone
0      1         Frank-Peter Finke       E10   +49(0)6922 01205
1      2            Hardy Henschel       E11     (05876) 360586
2      3             Paola Rudolph       E11      (07996) 94991
3      4          Manfred Mitschke       E11      (02428) 98642
4      5      Ljudmila Schmiedecke       E11      (09146) 46907
..   ...                       ...       ...                ...
495  496         Ivan Schaaf-Wilms       E11        08848 69317
496  497  Dipl.-Ing. Theodora Jähn       E11  +49(0)4722 545949
497  498          Mikhail Hartmann       E11   +49(0) 396231019
498  499       Sergei Kranz B.Eng.       E10  +49(0)1274 092621
499  500            Henri Allgöwer       E10       01765 123456

[500 rows x 4 columns]

In [139]:
df.to_csv(dir + "/datasets/multiple/patient.csv", index=False)

In [140]:
data_physical = {
    'id': pid,
    'gender': gender,
    'age': age,
    'height': height,
    'weight': weight,
}

In [141]:
df = pd.DataFrame(data=data_physical)
df

      id  gender  age  height  weight
0      1    Male   95     193      63
1      2    Male   68     167      82
2      3  Female   79     162      63
3      4    Male   78     180      56
4      5  Female   97     171      51
..   ...     ...  ...     ...     ...
495  496    Male   58     173      76
496  497  Female   46     170      67
497  498    Male   49     178      81
498  499    Male   39     178      76
499  500    Male   27     178      68

[500 rows x 5 columns]

In [142]:
df.to_csv(dir + "/datasets/multiple/physical.csv")

In [143]:
data_address = {
    'id': pid,
    'address': address,
    'zip': zip_code,
    'city' : city
}

In [144]:
df = pd.DataFrame(data=data_address)
df

      id                      address    zip                city
0      1              Benthinring 6/4  63634          Tuttlingen
1      2                Sauerplatz 42  27554               Gotha
2      3              Reinhardtweg 41  53272         Eckernförde
3      4                Mühlestr. 565  37218             Saulgau
4      5                Martinallee 0  52152              Meißen
..   ...                          ...    ...                 ...
495  496  Fredo-Schuchhardt-Straße 94  90498             Malchin
496  497               Klemmplatz 5/0  79069  Hansestadttralsund
497  498   Ramona-Ditschlerin-Weg 449  00942     Gräfenhainichen
498  499        Käte-Albers-Allee 6/6  04504              Kyritz
499  500              Einsteinufer 17  10587         Schlüchtern

[500 rows x 4 columns]

In [145]:
np.unique(address).size

500

In [146]:
df.to_csv(dir + "/datasets/multiple/contact.csv")

## Generate Masked Tables

In [147]:
b_size = 5
nFields = 2
level = 1
relNoise = 0.05
nFields_phone = 3

masked_low = mask(df_synthetic_data, bucketize_age, 'age', b_size)
masked_low = mask(masked_low, blur_zip, 'zip', nFields)
masked_low = mask(masked_low, generalize_diagnosis, 'diagnosis', level)
masked_low = mask(masked_low, add_relative_noise, 'height', relNoise)
masked_low = mask(masked_low, blur_phone, 'phone', nFields_phone)

In [148]:
masked_low.to_csv(dir + "/datasets/masked/masked_low.csv")

In [149]:
b_size = 10
nFields = 3
level = 2
relNoise = 0.10
nFields_phone = 5

masked_medium = mask(df_synthetic_data, bucketize_age, 'age', b_size)
masked_medium = mask(masked_medium, blur_zip, 'zip', nFields)
masked_medium = mask(masked_medium, generalize_diagnosis, 'diagnosis', level)
masked_medium = mask(masked_medium, add_relative_noise, 'height', relNoise)
masked_medium = mask(masked_medium, blur_phone, 'phone', nFields_phone)

In [150]:
masked_medium.to_csv(dir + "/datasets/masked/masked_medium.csv")

In [151]:
b_size = 20
nFields = 4
level = 2
relNoise = 0.20
nFields_phone = 7

masked_high = mask(df_synthetic_data, bucketize_age, 'age', b_size)
masked_high = mask(masked_high, blur_zip, 'zip', nFields)
masked_high = mask(masked_high, generalize_diagnosis, 'diagnosis', level)
masked_high = mask(masked_high, add_relative_noise, 'height', relNoise)
masked_high = mask(masked_high, blur_phone, 'phone', nFields_phone)

In [152]:
masked_high.to_csv(dir + "/datasets/masked/masked_high.csv")

In [153]:
masked_high

,id,name,address,zip,phone,gender,height,weight,age,insurance_company,insurance_number,diagnosis,glucose,HbA1C,medication
0,1,Frank-Peter Finke,Benthinring 6/4,6XXXX,+49(0)692XXXXXXX,Male,221,63,[80.0 - 99.0],108313123,A676434302,XX.X,215,11.10,Insulin
1,2,Hardy Henschel,Sauerplatz 42,2XXXX,(05876)XXXXXXX,Male,177,82,[60.0 - 79.0],108811072,D568238630,XX.X,303,7.54,Metformin
2,3,Paola Rudolph,Reinhardtweg 41,5XXXX,(07996XXXXXXX,Female,179,63,[60.0 - 79.0],108888888,E131064992,XX.X,289,4.02,Metformin
3,4,Manfred Mitschke,Mühlestr. 565,3XXXX,(02428XXXXXXX,Male,165,56,[60.0 - 79.0],103508742,O293579875,XX.X,118,6.28,Metformin
4,5,Ljudmila Schmiedecke,Martinallee 0,5XXXX,(09146XXXXXXX,Female,154,51,[80.0 - 99.0],108918320,F524358073,XX.X,180,10.51,Metformin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Ivan Schaaf-Wilms,Fredo-Schuchhardt-Straße 94,9XXXX,0884XXXXXXX,Male,156,76,[40.0 - 59.0],108815217,F484319828,XX.X,352,9.04,Metformin
496,497,Dipl.-Ing. Theodora Jähn,Klemmplatz 5/0,7XXXX,+49(0)4722XXXXXXX,Female,147,67,[40.0 - 59.0],108811072,L739061003,XX.X,296,6.18,Metformin
497,498,Mikhail Hartmann,Ramona-Ditschlerin-Weg 449,0XXXX,+49(0) 39XXXXXXX,Male,196,81,[40.0 - 59.0],103306961,J258936323,XX.X,328,11.65,Metformin
498,499,Sergei Kranz B.Eng.,Käte-Albers-Allee 6/6,0XXXX,+49(0)1274XXXXXXX,Male,183,76,[20.0 - 39.0],103306961,C790703966,XX.X,86,7.15,Insulin
499,500,Henri Allgöwer,Einsteinufer 17,1XXXX,01765XXXXXXX,Male,150,68,[20.0 - 39.0],101575519,T184006208,XX.X,453,10.13,Insulin

In [154]:
df['zip']

0      63634
1      27554
2      53272
3      37218
4      52152
       ...
495    90498
496    79069
497    00942
498    04504
499    10587
Name: zip, Length: 500, dtype: object

In [155]:
a = 2
b = 3
(a,b)

(2, 3)